img {
    /* flex: 1; */
    /* object-fit: contain; */
    width: 100%; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    /* margin-right : 1; Add spacing between the image and other elements */
}
nav {
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-power1);

}
nav > ul {
    list-style: none;
    display: flex;
    gap : 4rem;
}
a,li {
    font-size: var(--font-subheading);
    color : var(--color-font1);
    text-decoration: none;
}

.count > a {
    position: relative;    
}
.count > a > div {
    position: absolute;
    bottom: 100%;
    left: 100%;
    font-size: 1rem;
    width: 20px;                 
    height: 20px;                
    background-color: crimson;   /* bubble color */
    color: white;                /* text color */
    font-weight: bold;
    border-radius: 50%;          /* make it circular */
    display: flex;
    align-items: center;
    justify-content: center; 
}