* {
  /* outline : 2px solid red; */
   /* Headings */
  --font-superheading: 3rem;    /* 48px */
  --font-heading: 2rem;         /* 32px */
  --font-subheading: 1.5rem;    /* 24px */
  --font-small-heading: 1.25rem;/* 20px */

  /* Body text */
  --font-big-text: 1.125rem;    /* 18px */
  --font-text: 1rem;            /* 16px */
  --font-small-text: 0.875rem;  /* 14px */
  --font-tiny-text: 0.75rem;    /* 12px */

  --color-power1 : #222831;
  --color-font1 : #c5cebc;
  --color-power2 : #393e46;
  --color-power3 : #f96d00;
  --color-power4 : #f2f2f2;
}
#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
}

